#container {
    text-align: center;
    height: 400px;
    width: 400px;
    position: relative;
}

#image {
    position:absolute;
    left:0;
    top:0;
}

#text
{
    z-index:100;
    position:absolute;    
    color:black;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}

h1 {
    background-color: lightblue;
}

p {
    font-size: 1.5em;
}



