#container {
    text-align: center;
    height: 400px;
    width: 400px;
    position: relative;
}

#image {
    position:absolute;
    left:0;
    top:0;
}

#text
{
    z-index:100;
    position:absolute;    
    color:black;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}

h1 {
    background-color: lightblue;
}

p {
    font-size: 1.5em;
}



<<<<<<< HEAD
=======
.post {
    margin-top: 75px !important;
    width: 50%;
    margin: auto;
}
>>>>>>> 9f9d510c6831cf5ad3639a967c8283baa5a5c08a
