#container {
    text-align: center;
    min-height: 400px;
    min-width: 400px;
    position: relative;
}

#image {
    position:absolute;
    left:25%;
    top:0;
    width:50%;
    height:90%;
}

#text
{
    z-index:100;
    position:absolute;    
    color:black;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}

h1 {
    background-color: lightblue;
}

form {
    background-color: white;
}
body {
    background-color: lightblue;
}
p {
    font-size: 1.5em;
}


.post {
    margin-top: 75px !important;
    width: 50%;
    margin: auto;
}
